<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{% block description %}{% endblock %}">
    <meta name="author" content="Qazplay">
    <link rel="icon" href="/favicon.ico">
    <meta name="keywords" content="{% block keywords %}{% endblock %}">

    <title>{% block title %}{% endblock %} &mdash; CMS</title>

    {{ default_head|raw }}

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="/static/src/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/src/css/justified-nav.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    {% block head %}{% endblock %}
</head>

<body>

{% block body %}{% endblock %}

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="/static/src/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>
