{% extends 'src/layout/blank.html.twig' %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-2">
            <a href="{{ Locale }}/">
                <i class="fa fa-home" style="font-size:30px;"></i>
            </a>
        </div>
        <div class="col-md-2 col-md-offset-8">
            <div class="pull-right">
                {{ switchLocale|raw }}
            </div>
        </div>
    </div>
    <div class="masthead">
        {{ menu|raw }}
    </div>

   {% block content %}{% endblock %}

    <!-- Site footer -->
    <footer class="footer">
        <p>&copy; {{ date().format('Y') }} Company, Inc.</p>
    </footer>
</div> <!-- /container -->
{% endblock %}