<link href="/assets/bootstrap-3.3.7/css/bootstrap.min.css" rel="stylesheet">
<link href="/assets/bootstrap-3.3.7/css/bootstrap-theme.min.css" rel="stylesheet">
<link href="/assets/font-awesome/css/font-awesome.min.css" rel="stylesheet">
<script src="/assets/jquery-3.2.1.min.js"></script>
<script src="/assets/tether/js/tether.min.js"></script>
<script src="/assets/bootstrap-3.3.7/js/bootstrap.min.js"></script>