<nav>
    <ul class="nav nav-justified">
        {% for element in menuElements %}
            {% set body = element.getRelations('body') %}

            {% if body is not empty %}
                <li{{ element.isActive() ? ' class="active"' : '' }}><a href="{{ element.url }}">{{ element.title }}</a></li>
            {% endif %}
        {% endfor %}
    </ul>
</nav>