{% extends 'src/layout/layout.html.twig' %}

{% block title %}
    {{ page.title }}
{% endblock %}

{% block content %}
<!-- Example row of columns -->
<div class="row">
    <div class="col-md-12">
        <h2>{{ page.title }}</h2>
        <p>{{ page.body|raw }}</p>
    </div>
</div>
{% endblock %}