<span class="btn-group">
    <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="padding-left:0;">
        {{ Str.upper(Locale.getLocale()) }} <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        {% for lc,url in locales %}
            <li><a href="{{ url|raw }}">{{ lc }}</a></li>
        {% endfor %}
    </ul>
</span>