{% extends 'src/layout/layout.html.twig' %}

{% block title %}
    {{ newsItem.title }}
{% endblock %}

{% block content %}
<!-- Example row of columns -->
<div class="row">
    <div class="col-md-12">
        <h2>{{ newsItem.title }}</h2>
        <blockquote class="blockquote">
            {{ newsItem.preview }}
        </blockquote>
        <p>{{ newsItem.body|raw }}</p>
    </div>
</div>
{% endblock %}