{% extends 'src/layout/layout.html.twig' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h2>{{ title }}</h2>
            {% for newsItem in newsList %}
                <div>
                    <div>{{ date(newsItem.date).format('d.m.Y') }}</div>
                    <div><a href="{{ Registry.get('http.controller.path')~'/'~newsItem.url() }}">{{ newsItem.title }}</a></div>
                    <div>{{ newsItem.preview }}</div>
                </div>
                <br>
            {% else %}
                News list is empty.
            {% endfor %}
            {{ newsList.pagination() is defined ? newsList.pagination().render('cms/layout/pagination')|raw : '' }}
        </div>
    </div>
{% endblock %}